@import 'fonts';

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}

.main-logo {
    width: 261px;
    margin-left: 134px;
}

.main-header {
    background: url('images/background.jpg') no-repeat center center / cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.navigation-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);

    .main-navigation {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 58px;
    }

    .navigation-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;

        .navigation-item {
            display: inline-block;
            margin-right: 45px;
            font-size: 24px;
        }

        .navigation-item:last-child {
            margin-right: 0;
        }

        .navigation-link {
            color: white;
            text-decoration: none;
            padding-top: 25px;
            padding-bottom: 25px;
            text-transform: uppercase;
        }
    }
}

.first-screen {
    color: white;
    margin: 0;
    padding: 0;
    min-height: 867px;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 459px,
            rgba(0, 0, 0, 0.6) 444px 902px,
            rgba(255, 255, 255, 0) 902px);
    &-text {
        padding-top: 222px;
        padding-left: 586px;
    }

    .main-title {
        font-family: 'Oswald', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        margin: 0;
    }
}