@import 'fonts.scss';

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}

.main-logo {
    width: 261px;
    margin-left: 134px;
}

.main-header {
    background: url('../images/background.jpg') no-repeat center center / cover;
    height: 100vh;
}

.navigation-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);

    .main-navigation {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 13px;
    }

    .navigation-list {
        //Списко с меню
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;

        .navigation-item {
            //Элементы меню
            display: inline-block;
            font-size: 24px;
        }

        .navigation-link {
            //ссылки в меню
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            padding: 26px 45px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

.first-screen {
    color: white;
    margin: 0;
    padding: 0;
    min-height: 867px;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 459px,
            rgba(0, 0, 0, 0.6) 444px 902px,
            rgba(255, 255, 255, 0) 902px);

    &-text {
        padding-top: 240px;
        padding-left: 586px;

        .about-company {
            margin: 0;
            font-size: 24px;
            padding-top: 45px;
        }
    }

    .main-title {
        font-family: 'Oswald', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.48px;
        line-height: normal;
        margin: 0;
    }

    .link-button-container {
        padding-top: 71px;

        .link-button {
            color: white;
            border: 2px solid white;
            padding: 15px 41px;
            text-decoration: none;
            text-transform: uppercase;
        }

        .link-button:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}