@import 'fonts.scss';

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    //Стандартные стили для всей страицы
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}

.main-logo {
    //Логотип АС
    width: 261px;
    margin-left: 134px;
}

.main-header {
    background: url('../images/background.jpg') no-repeat center center / cover;

}

.navigation-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);

    .main-navigation {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 13px;
    }

    .navigation-list {
        //Список с меню
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;

        .navigation-item {
            //Элементы меню
            display: inline-block;
            font-size: 24px;
        }

        .navigation-link {
            //ссылки в меню
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            padding: 26px 45px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

.first-screen {
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 459px,
            rgba(0, 0, 0, 0.6) 444px 902px,
            rgba(255, 255, 255, 0) 902px);

    &-text {
        padding-top: 240px;
        padding-left: 520px;

        .about-company {
            margin: 0;
            font-size: 24px;
            padding-top: 45px;
        }
    }

    .main-title {
        font-family: 'Oswald', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.48px;
        line-height: normal;
        margin: 0;
    }

    .link-button-container {
        padding-top: 71px;

        .link-button {
            color: white;
            border: 2px solid white;
            padding: 15px 41px;
            text-decoration: none;
            text-transform: uppercase;
        }

        .link-button:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

.main {
    background-color: #eee;
}

.screen-about-company {
    margin: 0;
    //padding-left: 140px;
    //padding-top: 54px;
    height: 100vh;
    display: flex;

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .title {
            padding-top: 80px;
        }

        .text-about-company {
            font-family: 'MontserratAlternates', sans-serif;
            margin: 0;
            padding: 0;
            font-size: 24px;
            font-weight: 400;
            line-height: 150.42%;
            letter-spacing: 1.5px;
            padding-left: 140px;
            padding-top: 90px;
        }
    }
}   

.photo-container {
    display: flex;
    padding-right: 120px;

    &-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-right: 20px;
    }

    &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .photo1 {
        width: 83%;
        padding-left: 75px;
    }

    .photo2 {
        width: 83%;
        padding-left: 35px;
        padding-bottom: 15px;;
    }

    .photo3 {
        padding-left: 35px;
    }

    .photo4 {
        padding-top: 25px;
        padding-left: 50px;
    }
}

.title {
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 436px;
    padding-bottom: 21px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    gap: 20px;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 100px;
        height: 16px;
        background-image:
            linear-gradient(#8f223f, #8f223f),
            linear-gradient(#8f223f, #8f223f);
        background-repeat: no-repeat;
        background-size: 100% 2px, 50% 2px;
    }

    &::before {
        background-position: 0 0, 100% 100%;
    }

    &::after {
        background-position: 0 0, 0 100%;
    }
}

.news {
    padding-top: 0px;
}